<%- include('partials/header.ejs') %>

      <div class="starter-template">
        <h1>Crud de pessoas e projetos:</h1>
        <p class="lead">Mini projeto realizado no curso<br> Fullstack Master do DevPleno.</p>
      </div>
<%- include('partials/footer.ejs') %>