<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<form method="post">
  <textarea name="comment"></textarea>
  <div class="g-recaptcha" data-sitekey="6LciXfkUAAAAALDX3G7uYm3AlradGg5PsO5FYckF"></div>
  <button> Enviar </button>
</form>  