html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
ol,
ul {
  list-style: none;
}
h1 {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 20px;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
  margin-left: 25px;
  margin-bottom: 10px;
}
li {
  margin-top: 0;
}
h2 {
  font-weight: 700;
  padding: 8px;
  font-size: 20px;
  margin: 20px 10px 20px 0;
  color: #65a1c4;
}
h3 {
  font-size: 24px;
  font-weight: 700;
}
p {
  margin: 25px 0 10px 0;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-items: start;
  justify-content: start;
  padding-left: 10px;
}
a {
  cursor: hand;
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #f4f4f4;
}
.header {
  max-width: 640px;
  margin: 0 auto;
}
.logo {
  width: 200px;
}
.footer {
  margin-top: 10%;
}
.container {
  height: 150vmax;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}
i {
  margin-right: 5px;
}
.titulo {
  display: flex;
  justify-items: center;
  justify-content: center;
  text-align: center;
}
.items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
  justify-content: center;
  justify-items: center;
}
.items .item {
  flex: 1 0 200px;
  box-sizing: border-box;
  background: #fff;
  color: #171e42;
}
.items {
  padding-left: 10%;
  padding-right: 10%;
}
.item1 {
  background: #f2f2f2;
  color: #171e42;
  padding-left: 10px;
  color: #fff;
  background: rgba(0, 35, 151, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 35, 151, 1) 0,
    rgba(0, 178, 198, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0, rgba(0, 35, 151, 1)),
    color-stop(100%, rgba(0, 178, 198, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 35, 151, 1) 0,
    rgba(0, 178, 198, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(0, 35, 151, 1) 0,
    rgba(0, 178, 198, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(0, 35, 151, 1) 0,
    rgba(0, 178, 198, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 35, 151, 1) 0,
    rgba(0, 178, 198, 1) 100%
  );
  color: #eee;
  border-radius: 5px;
}
h2.contato {
  color: #fff;
}
.itemHeader {
  padding-top: 20px;
}
.circulo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px auto;
  transition: 0.3s ease;
}
.circulo:hover {
  transform: rotateY(180deg);
}
.circulo-pequeno {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px auto;
  animation: circulo 1s linear infinite;
}
.circulo-pequeno.lime {
  animation: circulo-inverno 1s linear infinite;
}
@keyframes circulo {
  from {
    transform: rotate(0) translateX(30px);
  }
  to {
    transform: rotate(360deg) translateX(30px);
  }
}
@keyframes circulo-inverno {
  from {
    transform: rotate(0) translateX(30px);
  }
  to {
    transform: rotate(-360deg) translateX(30px);
  }
}
