  <%- include('header') %>
  <article class="container">
  <h2>Open roles:</h2>
  <div>
    <h3>Enginneering team</h3>
    <ul>
      <li><a href="vaga">Fullstack Developer (Remote)</a></li>
    </ul>
  </div>
    <div>
    <h3>Marketing team</h3>
    <ul>
      <li>Digital Marketing (San Francisco)</li>
    </ul>
  </div>
  </article>
<%- include('footer') %>
