html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

h1 {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin-left: 25px;
  margin-bottom: 25px;
}
li {
  margin-top: 15px;
}

h2 {
  font-weight: bold;
  background-color: #c4c4c4;
  padding: 8px;
  font-size: 24px;
  margin: 20px 0 20px 0;
  border: 1px solid #010101;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}
p {
  margin: 20px 0 20px 0;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-items: center;
  justify-content: center;
}

a {
  cursor: hand;
  text-decoration: none;
  color: #010101;
}
a:hover {
  color: #6b1473;
}

.container,
.header {
  max-width: 640px;
  margin: 0 auto;
}
.logo {
  width: 200px;
}

.footer {
  margin-top: 10%;
}

.novo {
  float: right;
  font-size: 14px;
  padding: 6px;
  background-color: #6b1473;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

.novo:hover {
  background-color: #fff;
  color: #6b1473;
  border: 1px solid #6b1473;
}

.novaVaga:hover {
  background-color: #a11dad;
}

label {
  display: block;
  margin: 20px 0 4px 0px;
}

input,
select {
  padding: 6px;
  display: block;
  width: 50%;
}

textarea {
  width: 50%;
  height: 50px;
}

button {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #24bb74;
  color: #fff;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(45, 233, 145);
}

.botaoVoltar {
  background-color: #6b1473;
  color: #fff;
  padding: 2px;
  border: solid 2px #6b1473;
  border-radius: 3px;
  font-size: 14px;
}
.botaoVoltar,
.areaAdmin:hover {
  background-color: #fff;
  color: #6b1473;
}

.areaAdmin {
  float: right;
  font-size: 14px;
  color: #fff;
  background-color: #6b1473;
  border: solid 2px #6b1473;
  border-radius: 3px;
  padding: 5px;
}

.excluir {
  background-color: crimson;
  font-size: 0.7em;
  border: solid 2px crimson;
  border-radius: 3px;
  color: #fff;
  padding: 0 2px 0 2px;
}
.excluir:hover {
  background-color: #fff;
  color: crimson;
}

.editar {
  background-color: #399be9;
  font-size: 0.7em;
  border: solid 2px #399be9;
  border-radius: 3px;
  color: #fff;
  padding: 0 2px 0 2px;
}
.editar:hover {
  background-color: #fff;
  color: #399be9;
}
