  <%- include('header') %>
  <article class="container">
  <h2><%- vaga.titulo %></h2>
  <div>
    <!-- <h3>Descrição:</h3>-->
    <ul>
      <li><%- vaga.descricao %></li>
    </ul>
   <a href="/" class="botaoVoltar"><i class="fa fa-arrow-left"></i> Voltar</a>
  </div>
 </article>
<%- include('footer') %>
