<%- include('../partials/header') %>

      <div class="starter-template">
        <h1>Notícas Públicas</h1>
        <table>
          <% noticias.forEach(noticia =>{ %>
          <tr>
            <td>Notícia <%= noticia.title %></td>
          </tr>
          <% }) %>
        </table>
      </div>

<%- include('../partials/footer') %>