  <!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Curriculo - Hallan Christian</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="estilos.css" rel="stylesheet"> 
  <script src="https://use.fontawesome.com/a276987433.js"></script>
</head>
<body>
  <header class="header">
  <!-- <h1><a href="./"><img src="images/logoHallan.png" alt="Currículo - by Hallan Christian" class="logo"></a></h1>-->

  </header>