  <%- include('header') %>

<div class="items">
<div class="item itemHeader">

  <h1>HALLAN <span style="color:#65a1c4;padding-left:5px">CHRISTIAN</span></h1>
  <p class="titulo">COORDENADOR, ANALISTA E DESENVOLVEDOR WEB</p>
</div>
</div>
<div class="items">
<div class="item1">
    <div class="circulo">
		<img src="/images/hallanTerno.fw.png" />
	</div>
    <h2 class="contato">CONTATO:</h2>
    <p> <i class="fa fa-whatsapp"></i><a href="https://api.whatsapp.com/send?phone=5512997331367&text=Ol%C3%A1%20Hallan" target="_blrnk">12 99733-1367</a></p>
    <p> <i class="fa fa-phone"></i>12 3832-4960</p>
    <p> <i class="fa fa-globe"></i><a href="https://bit.ly/2SAqadx" target="_blank">https://bit.ly/2SAqadx (linkedin)</a></p>
    <p> <i class="fa fa-globe"></i><a href="mailto:hallancma@gmail.com" target="_blank">hallancma@gmail.com</a></p>
    <p> <i class="fa fa-globe"></i><a href="https://bit.ly/2MQjZRc" target="_blank">https://bit.ly/2MQjZRc (github)</a></p>
    <h2 class="contato">DADOS PESSOAIS:</h2>
    <p><i class="fa fa-user"></i>Data Nasci: 29 de maio de 1986</p> 
    <p><i class="fa fa-language"></i>Idiomas: Portugês, inglês(básico)</p> 
     <h2 class="contato">SKILLS:</h2>
     <p><i class="fa fa-code"></i>BACK-END</p>
     <ul>
        <li> - PHP</li>
        <li> - NODE(Aprendendo)</li>
        <li> - APEX ORACLE</li>
      </ul>
     <p><i class="fa fa-code"></i>FRONT-END</p>
     <ul>
        <li> - HTML 5</li>
        <li> - CSS</li>
        <li> - JAVASCRIPT</li>
        <li> - REACT(Aprendendo)</li>
      </ul>
    <p><i class="fa fa-code"></i>MOBILE</p>
     <ul>
        <li>REACT-NATIVE(Aprendendo)</li>
      </ul>
      <p class="contato"><i class="fa fa-database"></i>DATA-BASE</p>
     <ul>
        <li> - MYSQL</li>
        <li> - MARIA DB</li>
        <li> - ORACLE</li>
        <li> - MONGO(Aprendendo)</li>
        <li> - PL SQL</li>
      </ul>

    <h2 class="contato">NEGÓCIOS</h2>
    <ul>
      <li><span><i class="fa fa-briefcase"></i></span> Análise e Levantamento de Requisitos.</li>
      <li><span><i class="fa fa-briefcase"></i></span>  Palestras e Atendimento ao Usuário.</li>
    </ul>
    <h2 class="contato">HOBBIES</h2>
    <ul>
      <li> - Academia.</li>
      <li> - Correr</li>
      <li> - Programar</li>
    </ul> 
  </div>
  <div class="item item1">
      <h2>SOBRE:</h2>
    <ul>
      <li>Analista, desenvolvedor  e empreendedor com foco em gerar resultados para clientes e empresas, sempre buscando adquirir novos conhecimento e se aperfeiçoar nas tecnologias que utilizo no dia a dia:
      </li>
      <li><br>
        Experiência em todas as fases na criação de soluções digitais.
      </li>
    </ul> 
    <h2>EXPERIÊNCIA :</h2>
    <p>Analista Coordenador (2019 - Atual):</p>
      <ul>
        <li>PRESCON INFORMÁTICA</li>
        <li>Análise, desenvolvimento e coordenação de equipe em sistemas para setor público utilizando o ambiente para desenvolvimento de softwares baseado no SGBD da Oracle (APEX). 
        </li>
      </ul>
    <p>Desenvolvedor (2019 - Atual):</p>
      <ul>
        <li>PRESCON INFORMÁTICA</li>
        <li>Desenvolvedor referente ao sistema web de gerencimento e controle da ferramenta de Nota Fiscal Eletrônica de Serviço em mais de 12 cidades do estado de SP e MG.  
        </li>
      </ul>
    <p>Desenvolvedor e Gestor:</p>
      <ul>
        <li>ANUNCIA UBATUBA</li>
        <li>Aplicativo exclusivo para o município de Ubatuba, tendo como objetivo a divulgação gratuita das empresas e prestadores de serviço que desejam ampliar seus canais de comunicações nos ambientes mobile e web.  
        </li>
      </ul> 
    <p>Desenvolvedor Voluntário:</p>
      <ul>
        <li>PLACA PERDIDA</li>
        <li>O sistema Placa Perdida, foi desenvolvido para que de forma colaborativa as pessoas possam encontrar suas placas de veículos perdidas. 
        </li>
      </ul>
    <h2>GRADUAÇÃO :</h2>
    <p>Universidade Módulo (2007 - 2010):</p>
      <ul>
        <li>BACHARELADO EM SISTEMAS DE INFORMAÇÃO.</li>
      </ul>
    <p>ROCKETSEAT (2019 - Atual):</p>
      <ul>
        <li>NODE - em conclusão.</li>
        <li>REACT - em conclusão.</li>
        <li>REACT-NATIVE - em conclusão.</li>
      </ul>
    <p>DEVPLENO (2019 - Atual):</p>
      <ul>
        <li>FULLSTACK MASTER - em conclusão.</li>
      </ul>
    <p>UPINSIDE (2016 - Atual):</p>
      <ul>
        <li>PHP DEELOPER - em conclusão.</li>
        <li>LARAVEL - em conclusão.</li>
        <li>PHP ORIENTADO A OBJETOS.</li>
        <li>COMPOSER.</li>
        <li>HTML5.</li>
        <li>ACTIVE CAMPAIGN.</li>
        <li>DESIGN RESPONSIVO.</li>
        <li>FACEBOOK ADS.</li>
        <li>GIT.</li>
        <li>DIGITAL CEO.</li>
        <li>WORKCONTROL.</li>
      </ul>
    <p>UDEMY:</p>
      <ul>
        <li>NODE - em conclusão.</li>
        <li>REACT-NATIVE - em conclusão.</li>
        <li>JAVASCRIPT NINJA.</li>
        <li>GIT NINJA.</li>
        <li>PL-SQL.</li>
        <li>EJ6.</li>
        <li>PHOTOSHOP.</li>
      </ul>    
    <p>ORIGAMID (2017 - Atual):</p>
      <ul>
        <li>WEB DESIGN.</li>
        <li>JAVASCRIPT.</li>
      </ul>    
    <p>GLOBAL CODE (2017 - 2017):</p>
      <ul>
        <li>JAVA</li>
        <li>JAVA WEB.</li>
      </ul>
    <p>SENAC (2008 - 2017):</p>
      <ul>
        <li>TÉCNICO EM INFORMÁTICA</li>
      </ul> 
    <p>TANCREDO NEVES (2006 - 2008):</p>
      <ul>
        <li>TÉCNICO EM ADMINISTRAÇÃO DE EMPRESAS</li>
      </ul> 
  </div>
  

</div>
<%- include('footer') %>
