  <%- include('../header') %>
  <article class="container">
  <h2>Ãrea Administrativa: <a href="/" class="areaAdmin"><i class="fa fa-home"></i> Home</a></span></h2>
  <div>
    <ul>
      <li><a href="/admin/categorias"><i class="fa fa-plus"></i> Gerenciar categorias</a></li>
      <li><a href="/admin/vagas"><i class="fa fa-plus"></i> Gerenciar vagas</a></li>
    </ul>
  </div>
  </article>
<%- include('../footer') %>
